In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import os
import glob

In [9]:
base_path = %pwd
categories = [
    'voltage', 
    'temperature',
    'percentage'
]

plt.figure(figsize=(10,5))
df = pd.DataFrame()
for cat in categories: 
    #cat_path = os.path.join(base_path, cat)
    csv_files = glob.glob(os.path.join(cat,'*.csv'))
    for csv in csv_files:
        df_temp = pd.read_csv(csv)
        df = pd.concat([df,df_temp])

df.head()

                    timestamp   value       status
0  2025-08-15T00:54:52.832688  3573.0  DISCHARGING
1  2025-08-15T00:56:36.954091  3456.0  DISCHARGING
2  2025-08-15T00:57:22.618687  3478.0  DISCHARGING
3  2025-08-15T00:57:33.331853  3471.0  DISCHARGING
4  2025-08-15T00:59:03.402056  3472.0  DISCHARGING